<div class="container d-flex justify-content-center" style="min-height: 85vh; align-items: flex-end;">
  
    <div class="card" style="width: 18rem; background: #D2E0FB;">
    
        <div class="card-body" style="display: flex; flex-wrap: wrap;">

          <div class="card-foto mb-4" style="flex: 50%; text-align: center;">  
            <% if (typeof profile !== 'undefined') { %>
              <img src="../../<%= profile.Avatar %>" class="card-img-top" alt="belum upload Foto">
          <% } else { %>
          <img src="http://localhost:3000/img/profile-default.jpg" alt="foto" style="width: 200px; border-radius: 100px;"> 
          <% } %>
          </div>

          <div class="card-detail" style="flex: 50%;">
            <h5 class="card-title"><%= contact.Nama %></h5>
            <h5 class="card-title"><%= contact.noHp %></h5>
            <h5 class="card-title"><%= contact.Email %></h5>
            <% if (typeof profile == 'undefined') { %>
              <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary">Upload Foto</button>    
              <br><br> 
            <% } %>
  
            <form method="post" action="/contact?_method=DELETE">
              <input type="hidden" name="Nama" value="<%= contact.Nama %>">
              <button type="submit" class="btn btn-danger" onclick="return confirm('yakin?')">Hapus Contact</button>
            </form>
  
            <br>
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal-one" class="btn btn-success">Update Contact</button>    
          </div>

         
        </div>

      </div>

</div>


 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Uplaod Foto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img class="img-perview" width="200">

            <form method="post" action="/upload" enctype="multipart/form-data">
                <input type="hidden" name="Nama" value="<%= contact.Nama %>">
                <div class="mb-3">
                  <label for="Avatar" class="form-label">Avatar</label>
                  <input type="file" class="form-control" id="Avatar" name="Avatar" onchange="perviewImage()" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
 <div class="modal fade" id="exampleModal-one" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Upload Foto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form method="post" action="/contact?_method=PUT">
          <input type="hidden" name="oldNama" value="<%= contact.Nama %>">
          <div class="mb-3">
            <label for="Nama" class="form-label">Nama</label>
            <input type="text" class="form-control" id="Nama" name="Nama" value="<%= contact.Nama %>" required>
          </div>
          <div class="mb-3">
              <label for="noHp" class="form-label">noHp</label>
              <input type="text" class="form-control" id="noHp" name="noHp" value="<%= contact.noHp %>" required>
            </div>
            <div class="mb-3">
              <label for="Email" class="form-label">Email</label>
              <input type="email" class="form-control" id="Email" name="Email" value="<%= contact.Email %>"  required>
            </div>
          <button type="submit" class="btn btn-success">Update Contact</button>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
   function perviewImage(){
              const image = document.querySelector('#Avatar')
              const pathImage = document.querySelector('.img-perview')

              pathImage.style.display = "block";

              const oFReader = new FileReader();
              oFReader.readAsDataURL(image.files[0]);

              oFReader.onload = function(oFREvent){
                pathImage.src = oFREvent.target.result;
              }
              
            }
</script>